<h1>Dashboard</h1>

<div class='side-nav'>
  <div class='box'>
    <h2>Merits</h2>
    <hr />
    <p>Last Month's Champion:</p>
    <img src='assets/Champion.png'>
    <hr />
    <p>Merits earned this month:</p>
    <h4>5</h4>
    <hr />
    <p>Total number of merits:</p>
    <h4>8</h4>
  </div>
  <div class='box'>
    <h2>Time Off</h2>
    <hr />
    <p>May 15, 2014 - May 18, 2014</p>
    <p>Aug 3, 2014 - Aug 7, 2014</p>
  </div>
</div>

<div class='notifications'>
  <div class='actionable'>
    <h2>Notifications</h2>
    <ul>
      <hr />
      <% notifications.actionable.reverse.each do |notification| %>
        <li>
          <%= render partial: "shared/notifications/#{notification.notification_type}", locals: { notification: notification } %>
        </li>
        <hr />
      <% end %>
    </ul>
  </div>

  <div class='informational'>
    <h2>Activity</h2>
    <ul>
      <hr />
      <% notifications.informational.reverse.each do |notification| %>
        <li>
          <div class='lhs'>●</div><%= render partial: "shared/notifications/#{notification.notification_type}", locals: { notification: notification } %>
        </li>
        <hr />
      <% end %>
    </ul>
  </div>
</div>
