<div class='merits'>
  <h2>Merits</h2>
  <p>Last Month's Champion</p>
  <img src='assets/Champion.png'>

</div>

<div class='notifications'>
  <div class='actionable'>
    <h2>Notifications</h2>
    <ul>
      <hr />
      <% notifications.actionable.each do |notification| %>
        <li>
          <%= render partial: "shared/notifications/#{notification.notification_type}", locals: { notification: notification } %>
        </li>
        <hr />
      <% end %>
    </ul>
  </div>

  <div class='informational'>
    <p>Informational</p>
    <ul>
      <% notifications.informational.each do |notification| %>
        <li>
          <%= render partial: "shared/notifications/#{notification.notification_type}", locals: { notification: notification } %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
