javascript:
  var app = angular.module("SquareShift", ['ngResource']);

  var shiftsDebug = #{ raw @shifts  };
  var currentUserShiftIdsDegbug = #{ raw @current_user_shift_ids };

  var originalUserShiftId = 0;
  var targetUser = 0;

  $(document).ready(function(){
    $('.request-shift-trade-btn').click(function(){
      $('.modal-backdrop, .request-shift-trade-modal').fadeIn();
      originalUserShiftId = $(this).siblings('.original-user-shift-id').val();
      targetUser = $(this).val();
    });

    $('.request-shift-trade-btn').click(function(){
      $.ajax({
        url: "/shift_change_requests/create_cover_request",
        type: "POST",
        data: {
          original_user_shift_id: originalUserShiftId,
          target_user_id: targetUser
        }
      }).done(function() {
        alert('success');
        $('.modal, .modal-backdrop').fadeOut();
      });
    });

    $('.cancel-trade-request-btn').click(function(){
      $('.modal-backdrop, .request-shift-trade-modal').fadeOut();
    });
  });

  app.controller('MyScheduleCtrl', ['$scope', '$resource', function($scope, $resource) {
    $scope.requestTradeModeIsOn = false;
    $scope.shifts = #{ raw @shifts  };
    $scope.currentUserShiftIds = #{ raw @current_user_shift_ids };

    $scope.enterRequestTradeMode = function() {
      $scope.requestTradeModeIsOn = true;
    };

    $scope.shiftIsCurrentUserShift = function(shiftId) {
      return $scope.currentUserShiftIds.indexOf(shiftId) > -1;
    };

    $scope.shiftIsNotCurrentUserShift = function(shiftId) {
      return $scope.currentUserShiftIds.indexOf(shiftId) <= -1;
    };

    $scope.requestTradeModeIsOnAndShiftIsCurrentUserShift = function(shiftId) {
      return $scope.requestTradeModeIsOn && $scope.currentUserShiftIds.indexOf(shiftId) > -1;
    };
  }]);

.l-content.margin-top-medium ng-app="SquareShift" ng-controller="MyScheduleCtrl"
  .l-row
    .calendar.my-schedule-calendar
      .calendar-shift-header.calendar-shift-header-1 Mon
      .calendar-shift-header.calendar-shift-header-2 Tue
      .calendar-shift-header.calendar-shift-header-3 Wed
      .calendar-shift-header.calendar-shift-header-4 Thu
      .calendar-shift-header.calendar-shift-header-5 Fri
      .calendar-shift-header.calendar-shift-header-6 Sat
      .calendar-shift-header.calendar-shift-header-7 Sun
      .calendar-shift ng-repeat="shift in shifts" class="calendar-shift-{{shift.id}}"
        .me ng-show="shiftIsCurrentUserShift({{shift.id}})"
          .calendar-shift-assigned-employee ng-repeat="user_shift in shift.user_shifts | filter:{scheduled:true}" ng-hide="requestTradeModeIsOn" {{user_shift.user.name}}
          input.original-user-shift-id [type="hidden"
                                                  ng-repeat="user_shift in shift.user_shifts | filter:{scheduled:true}"
                                                  value="{{user_shift.id}}"
                                                  ]
          input.btn.btn-blue.request-shift-trade-btn [value="Request Shift Trade"
                                                type="submit" ng-click="enterRequestTradeMode()"
                                                ng-hide="requestTradeModeIsOn"]

        .notMe ng-show="shiftIsNotCurrentUserShift({{shift.id}})"
          .calendar-shift-assigned-employee ng-repeat="user_shift in shift.user_shifts | filter:{scheduled:true}" ng-hide="requestTradeModeIsOn" {{user_shift.user.name}}
          input.original-user-shift-id [type="hidden"
                                                  ng-repeat="user_shift in shift.user_shifts | filter:{scheduled:true}"
                                                  value="{{user_shift.id}}"
                                                  ]
          .styled-select ng-show="requestTradeModeIsOnAndShiftIsCurrentUserShift({{shift.id}})"
            select
              option ng-repeat="user_shift in shift.user_shifts" value="{{user_shift.user.id}}" {{user_shift.user.name}}


    input.btn.btn-blue.request-shift-trade-btn [value="Request Shift Trade"
                                                type="submit" ng-click="enterRequestTradeMode()"
                                                ng-hide="requestTradeModeIsOn"]
