.l-content
	| show all shifts here, from the admins perpective
      = link_to 'generate schedule', admin_shifts_generate_schedule_path
      = link_to 'publish schedule', admin_shifts_publish_schedule_path