<p>
  <% user_shift = UserShift.find(notification.data['user_shift_id']) %>
  <%= user_shift.user.email %> can't make their shift at <%= display_shift_time(user_shift.shift.start_at, user_shift.shift.end_at) %>. Take this shift for a badge?
  <%= button_to 'Yes', user_shifts_update_selections_path, method: :put, params: { 'shift_ids[]' => [user_shift.shift.id] } %>
  <%= button_to 'No', user_shifts_update_selections_path, method: :put, params: { 'shift_ids[]' => [user_shift.shift.id] } %>
</p>
