<div class='rhs'>
  <p class='date'>
    <%= display_datetime notification.created_at %>
  </p>
  <p>Lighthouse Coffee has published a new <%= link_to('schedule', user_shifts_path) %>, check it out!</p>
</div>
