<div class='rhs'>
  <p class='date'>
    <%= display_datetime notification.created_at %>
  </p>
  <p><%= notification.user_shift.user.name%> was able to fill in for you shift on <b><%= display_shift_time notification.user_shift.shift %></b>.</p>
</div>
